/* Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */ 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
 ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*-----------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------- Layout Allmängiltig för hela sidan-------------------------------------------------------------------- */



#container {
 width:960px;
 
 border:1px solid aqua;
 background-color:#FFF; 
 margin:20px auto;
 
    
}

#header {
    background-color:#fff;
    width: 100%;
    
    

}

#nav {
    background-color:#fff;
    width: 140px;
    height: auto;
    float: left;
    margin-left:1%;
    margin-top: 1%;
    
    
}

#content {
    background-color:#fff;
   
    width: 80%;
    margin: 1%;
    height: auto;
    float: left;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.bloggpost {
    background-color:#fff;
    margin: 1% auto;
    height: auto;
    width: 95%;
    border:1px dotted aqua;
}

.presentationslista {
    float: left;
    width: 25%;
    margin: 1%;
    
    
}

#footer {
 background-color:#fff;    
 width: auto;
 clear: both;
 border-top: 1px solid aqua;
}

/*---------------------------------------------formatering text tabeller standard-----------------------------------------------*/

h1 {
    font: small-caps bold 1.5em/120% "Helvetica", sans-serif;
    
}

h2 {
    font: small-caps bold 1.2em/120% "Helvetica", sans-serif;
    background-color:navy;
    color:#fff;
     -moz-border-radius: 7px;
    border-radius: 7px;
    margin-bottom: 1%;
    
}

h3 {
    font: small-caps 1em/120% "Helvetica", sans-serif;
    
}

p {
    font:0.8em/110% "Georgia", serif;
   
    
    
}

 th, td {

    border-bottom: 1px solid navy;
    padding: 2px;
    width:25%;

}

th {
   background-color: navy;
   color: white;
   font:small-caps 1em/100% "Helvetica", sans-serif;
   
}

th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

ul li {
    
   font: bold 0.8em/110% "Helvetica", sans-serif;
    
}

li ul li {
    
    font:  1em/110% "Helvetica", sans-serif;
    margin-left: 5px;
    list-style: circle;
}

li {
    margin-top: 1px;
}

li ul li:last-child {
    margin-bottom: 8px;
    
}

dt {
    font-weight: bold;
}

dd { 
    font-style: italic;
    
}

/* --------------------------------------------formatering-header--------------------------------------------------------------------------------*/

#header .headimg {
    margin: auto;
    display: block;
    
}


#header h1 {
    
   text-align: center;
    
}

/* --------------------------------------------formatering-nav--------------------------------------------------------------------------------*/
    
    


#nav ul li {
    margin-bottom: 5%;
    font:small-caps bold 1em/120% "Helvetica", sans-serif;
    
}

#nav a {

    -moz-border-radius: 15px;
    border-radius: 15px;

    text-decoration: none;
    background-color: navy;
    color: #fff;
    display: block;
    font-family: helvetica, sans serif;
    font-weight: bold;
    padding: 10px;
    
}

#nav a:hover{
    background-color: #fff;
    color: navy;
    
    
}

#nav .active a{
    background-image: url(pics/ring.png);
    background-repeat: no-repeat;
    background-position: right;
    
    
}

/*-----------------------------------------------Bild----------------------------------------------------------------------------------------------*/

#bildamanda {
    float: right;
}

/*---------------------------------------------------Specifikt för laborationersidan-------------------------------------*/


#menylabb {
    width: 140px;
    margin-top:2%;
    float: left;
    margin-left: 1%;
    
    
}

#menylabb a {

    -moz-border-radius: 15px;
    border-radius: 15px;
    font:small-caps bold 1em/120% "Helvetica", sans-serif;
    text-decoration: none;
    background-color: aqua;
    color: navy;
    display: block;
    padding: 10px;
    margin-bottom: 2%;
    
    
}



#menylabb a:hover {
    background-color:#fff;
    
    
    
}


#resultstable {
    
    float:right;
    margin-top:2%;
    margin-bottom: 3%;
    margin-right: 2%;
    
    
}




#lab1 {
    clear: both;
    
}

#lab1 {
    width:100%;
    
    }


#lab1 ol { 
     
    font-family:Georgia, Times, serif; 
    font-size:24px; 
    color:navy; 
}

#lab1 ol li p {
    padding:8px; 
    font-style:normal; 
    font-family:Arial; 
    font-size:13px; 
    color:navy; 
      }
    
    
#lab1 ol li dl dt {
    padding:8px; 
    font-weight: bold; 
    font-style: italic;
    font-family:Arial; 
    font-size:13px; 
    color:navy; 
      }
    
#lab1 ol li dl dd {
    padding:8px; 
    font-style: italic; 
    font-family:Arial; 
    font-size:13px; 
    color:navy; 
      }
    
   

/*----------------------------------------------------Specifikt Presentation-------------------------------------------*/

.presentationslista ul {
    list-style: square;
}


